/*  your css code here. If applicable */
 body {
            background-color: rgb(204, 204, 204);
            font-family: Arial, sans-serif;
        }

        /* Headings */
        h1, h2 {
            text-align: center;
        }

        /* Playlist styling */
        ul {
            padding: 20px;
            border: 2px solid black;
            background-color: white;
            width: 80%;
            margin: auto;
            border-radius: 10px;
        }

        li {
            list-style-type: none;
            margin: 8px 0;
        }

        a {
            text-decoration-line: none;
            color: black;
            font-size: 16px;
        }

        /* Video + Audio container */
        .player_one, .player_two {
            background-color: rgb(255, 255, 255);
            padding: 20px;
            border-radius: 10px;
            width: 80%;
            margin: 20px auto;
            border: 2px solid black;
        }